<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container">
    <a class="navbar-brand fs-4 d-flex align-items-center" href="#">
      <img src="assets/logo.png" alt="IntraDoc Bizerte Logo" class="me-2" style="height: 60px;">
      <div class="separator"></div>
      <span class="lexend-font">IntraDoc Bizerte</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="!isAdmin">
          <li class="nav-item">
            <a class="nav-link lexend-font" routerLink="/user-home" routerLinkActive="active">Home</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAdmin">
          <li class="nav-item">
            <a class="nav-link lexend-font" routerLink="/admin-dashboard/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lexend-font" routerLink="/admin-dashboard/documents" routerLinkActive="active">Documents Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lexend-font" routerLink="/admin-dashboard/authors" routerLinkActive="active">Authors Management</a>
          </li>
        </ng-container>
      </ul>

      <div class="d-flex align-items-center text-light me-4 lexend-font">
        <div class="me-4">
          <i class="fas fa-calendar-alt me-2"></i>
          <span>{{ currentDate | date:'EEEE, MMMM d, y' }}</span>
        </div>
        <div class="me-4">
          <i class="fas fa-clock me-2"></i>
          <span>{{ currentTime | date:'h:mm:ss a' }}</span>
        </div>
        <div class="weather-info">
          <i class="fas fa-cloud-sun me-2"></i>
          <span>{{ weatherInfo }}</span>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle text-light profile-dropdown fs-6 lexend-font" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="userPhoto" alt="Profile" class="rounded-circle me-2" style="width: 32px; height: 32px;">
            {{ userName }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item lexend-font" (click)="goToProfile()">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item lexend-font" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav> 